* { 
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

form {
    border: 2px solid #97a8bc;
    margin: auto;
    margin-top: 70px;
    width: 60%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 40px;
    overflow: auto;  
    font-size: 15px;

}

.input-form, .input-form-login {
    padding: 11px 20px;
    margin-bottom: 15px;
    margin-right: 35px;
    display: inline-block;
    width: 100px;
}

.selectdiv, #name, #slogan, #leader, #custom-text{
    background-color: #e4f6ff;
    border:2px solid #97a8bc;
    margin-bottom: 25px;
    padding: 12px 20px;
    width: 40%;
    height: 40px;
}

#description {
    background-color: #e4f6ff;
    border:2px solid #97a8bc;
    margin-bottom: 25px;
    padding: 12px 20px;
    vertical-align: middle;
    width: 75%;
    height: 20%;
}

input[type="file"] {  
    direction: rtl;
    color: transparent;
}

#custom-button {
    padding: 10px;
    width: 120px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: #3e6595;
    border: 1px solid #3e6595;
    cursor: pointer;
}

#custom-button:hover {
  background-color: #e4f6ff;
}

.center-block {
    cursor: pointer;
    color: black;
    background-color: #4f81bd;
    border-style: solid;
    border-color: #4f81bd;
    float: none;
    display: block;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;

    padding: 12px 20px;
    border-radius: 5px; 
    width: 160px;
    height: 60px;
}

#output {
    width: 100px;
    height: 100px;
}

span.error {
    box-sizing: content-box;
    color: #FF0000;
    margin-left: 160px;
    /* border:2px solid rgb(233, 163, 13); */
    
    margin-bottom: 10px;

    display: inline-block;
    height: 20px;
    padding: 7px 20px;
    width: 545px;

    background-color: #ffffff;
}