* { 
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-size: 15px;
}

form {
    border: 2px solid #385D8A;
    margin: auto;
    margin-top: 70px;
    width: 1100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    overflow: auto;  
}
.keyword{
	margin-left: 40px;
    margin-bottom: 15px;
    margin-right: 50px;
    display: inline-block;
    width: 100px;
}
#keyword{
    background-color: #e1e9f4;
    border:2px solid #8d949c;
    margin-bottom: 25px;
    padding: 12px 20px;
    width: 50%;
    display: inline-block;  
	height: 35px;
}
.button-search {
    display: flex;
	margin-left: 35%;
    align-items: center;
}

.button-search-block{
    cursor: pointer;
    color: white;
    background-color: #4f81bc;
    border:2px solid #3c5c84;
    float: none;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom:20px;
	border-radius: 10px; 
    width: 140px;
    height: 50px;
}
.button-search-block:hover {
    background-color: #629de4;
}
.search-table{
	margin-top:30px;
}
.search-no-th{
	
	text-align: left;
	width:50px;
	font-weight:lighter;
}
.search-th{
	text-align: left;
	font-weight:lighter;
    padding: 5px 20px;
	width:140px;
}
.action-th{
	text-align: left;
	font-weight:lighter;
    padding: 5px 70px;
	width:320px;
}
.action-button{
	color:white;
	margin-right: 0px;
    width: 100px;
    height: 30px;
    background-color: #92b1d5;
    border:1px solid #435a7a;
    cursor: pointer;
}
.delete-button{
	color:white;
	margin-right: 0px;
    width: 50px;
    height: 30px;
    background-color: #92b1d5;
    border:1px solid #435a7a;
    cursor: pointer;
}
#back {
    margin-left: 1000px;
    width: 110px;
    height: 50px;
    color: white;
    padding: 10px;
    background-color: #4f81bd;
    border:1px solid #3c5c84;
    cursor: pointer;
    border-radius: 5px; 
}
#back:hover {
    background-color: #629de4;
}
