*{
    margin: 0;
    padding: 0;
}

body {
    margin: 100px auto;
    text-align: center;
    width: 600px;
}

.txt{
    padding: 5px;
    width: 250px;
    height: 25px;
}

.submit{
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    background-color: #4f81bd;
    margin-left: 120px;
    margin-top: 20px;
}

label {
    width: 120px;
    display: inline-block;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Times New Roman';
    margin-right: 20px;
    padding: 12px;
}

.container{
    text-align: center;
    border: 2px solid #97a8bc;
    padding: 80px;
}

.class_pass{
    margin-top: 20px;
}