*{
    margin: 0;
    padding: 0;
}

body {
    margin: 100px auto;
    text-align: center;
    width: 600px;
    font-size : 15px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.txt{
    padding: 5px;
    width: 250px;
    height: 25px;
    font-size : 15px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background-color: #e4f6ff;
    border:1px solid #385D8A;
}

.submit{
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #4f81bd;
    margin-left: 120px;
    margin-top: 20px;
    font-size : 15px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.submit:hover {
    background-color: #629de4;
}
label {
    width: 120px;
    display: inline-block;
    text-align: center;
    font-size : 15px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    margin-right: 20px;
    padding: 12px;
}

.container{
    text-align: center;
    border:2px solid #385D8A;
    padding: 80px;
}

.class_pass{
    margin-top: 20px;
}
