#div_label {
    padding: 5px;
    /*    width: 100px;*/
    /*    background-color: appworkspace;*/
    /*    border: solid 2px;*/
}

#label {
    color: white;
    border: solid black 1px;
    padding: 10px;
    margin: 10px;
    background-color: #5b9bd5;
}

#div_input {
    width: 250px;
    margin: 10px;
    padding: 10px;
    background-color: activeborder;
    border: 1px solid rgb(28, 128, 204);
}

#div_forgotPW {
    margin: 10px;
}

#div_button {
    background: #5b9bd5;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    padding: 15px;
    /*width: 100px;*/
}

.div_home {
    text-align: center;
    width: 600px;
    height: auto;
    border: 1px solid #5b9bd5;
    padding: 20px;
    /*    margin: auto;*/
    margin: 100px auto;
}